<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Train</title>
    <link rel="stylesheet" href="{% static
'ticket/static/css/screen.css' %}" />
</head>
<body>
  <h2>Please enter source</h2>
  <h2>Please enter destination</h2>
  <div class = "container">
      <form action = "result/" method="POST">{% csrf_token %}
      <label for="source" class="station">Source</label>
      <input name="source" type="text" id="source" class="form-control" placeholder="Source" required="" autofocus="">
      <label for="destination" class="station">Destination</label>
      <input name = "destination" type="text" id="destination" class="form-control" placeholder="Destination" required="">
      <input type="submit" class="btn btn-primary" value="Submit">
      </form>
  </div>

</body>
</html>
